<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="annonceForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Titre de l'article</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Contenu de l'article</label>
      <textarea type="text" class="form-control" id="content" formControlName="content"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="annonceForm.invalid">Soumettre</button>
  </form>
</div>
